body {
  background-color: #d3ffe9;
}

div {
  border: 1px solid #085b69;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #043b32;
  background-color: #eafff5;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  margin: 5px 0;
  text-align: center;
}

button {
  margin: 5px;
  background-color: #d120ab;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

input {
  display: block;
  margin: 5px 0;
  border: 1px solid #572177;
}

.restart,
.finish {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  background: #3fe1f7;
}

.restart:hover,
.finish:hover {
  background: #c4219b;
}
